venv/
.venv
*.pyc
__pycache__/
db.sqlite3

# IDE - специфичные файлы
.idea/
*.iml
*.log
*.swp

# Платформа
node_modules/

# Media и Static файлы
media/
static/

# Опционально: файлы, созданные в процессе разработки
*.sqlite3
.DS_Store

# Секретные файлы
*.env